<div class="meta clearfix">
    <div class="media">
        <div class="media-left">
            <img src="https://s3.amazonaws.com/stillat/logo_48x48.png" class="img-circle" width="48" height="48">                
        </div>
        <div class="media-body">
            <div class="author">
                <div class="pull-left">
                    <a href="" class="name">{{ author_name }}</a>
                    <div class="clearfix">
                        <span class="date">{{ date format="F j, Y" }}</span>
                        <span class="length">{{ content | read_time }} minute read</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>