<div class="container">
<div class="row">
    <div class="col-md-12 text-center">

        <p class="sr-only" aria-hidden="false">Internal Server Error. Please try again later.</p>
        <p aria-hidden="true" class="site__error-message"><span class="fa fa-bolt"></span></p>

        <h2 class="h1">That's an error</h2>
        <h3 class="h2">Something when wrong; please try again later.</h3>
    </div>
    <div class="col-md-12 text-center site__error-links">
        <a href="{{ homepage }}">Home</a>
    </div>
</div>
</div>