@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700|Open+Sans:300,400,600');

$section-light-grey-background: #ececec;

$color-primary: #f39c12;
$color-lighter: #ecf0f1;
$body-bg: #f5f5f5;
$footer-header-spacing: 50px;
$fg-footer: #95a5a6;
$font-body: 'Open Sans', sans-serif;
$font-heading: 'Montserrat', sans-serif;

